<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Answer the question</title>
</head>
<body>
    <div class="contatiner text-center">
        <h1>Create New Question</h1>
        <br />
        <form action="#" th:action="@{/save}" th:object="${question}"
            method="post">
 
            <table cellpadding="10">
                <tr>
                    <td>Question content:</td>
                    <td><input type="text" th:field="*{content}" /></td>
                </tr>
                <tr>
                    <td>Option 1:</td>
                    <td><input type="text" th:field="*{option1}" /></td>
                </tr>
                <tr>
                    <td>Option 2:</td>
                    <td><input type="text" th:field="*{option2}" /></td>
                </tr>                          
                <tr>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>